@*
    Author:   			ntdai
    Created: 			2015-11-27
    Last Modified: 		2015-11-27
*@

@model MvcPaging.IPagedList<ioiort.settingdata.library.QLSettingData.ListSettingDataView>
@using MvcPaging

@{var i = 1;}

<div class="table-responsive">
    @if (Model.TotalItemCount > 0)
    {
        <div class="p-b-10">
            Kết quả tìm kiếm: <b>@Model.TotalItemCount</b> SettingData
        </div>
        <text>
            <table class="table table-bordered datatables dataTable">
                <thead>
                    <tr>
                        <th class="text-center w-30">
                            <input id="CheckBoxAll" onclick="javascript: checkAlllist('#listcheckall',this);" type="checkbox" />
                        </th>
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-left w-150">
                            @Html.DisplayNameFor(model => Model[0].SettingDataID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model[0].SettingDataName)
                        </th>
                        @*<th>
        @Html.DisplayNameFor(model => Model[0].SanPhamMoTa_Des)
    </th>
    <th class="text-right w-100">
        @Html.DisplayNameFor(model => Model[0].Ngay_Time)
    </th>
    <th class="text-center w-100">
        @Html.DisplayNameFor(model => Model[0].IsActive)
    </th>*@
                        <th class="text-right w-100"></th>

                    </tr>
                </thead>
                <tbody id="listcheckall">
                    @foreach (var item in Model)
                    {
                    <tr data="@item.SettingDataGuid" class="showhim">
                        <td class="text-center">
                            <input type="checkbox" class="checkbox-item" value="@item.SettingDataGuid" />
                        </td>
                        <td class="text-center w-50">
                            @Html.Raw((Model.PageNumber - 1) * Model.PageSize + i)
                            @{i++;}
                        </td>
                        <td class="text-left w-100">
                            @Html.Raw(item.SettingDataID)
                        </td>
                        <td>
                            @Html.Raw(item.SettingDataName)
                        </td>
                        @*<td>
        @Html.Raw(item.SanPhamMoTa_Des)
    </td>
    <td class="text-right w-100">
        @Html.Raw(item.Ngay_Time.Value.ToString("dd/MM/yyyy"))
    </td>
    <td class="text-center w-100">
        @Html.CheckBoxFor(x => item.IsActive, new { disabled = "disabled" })
    </td>*@
                        <td class="text-right w-100">

                            <a data-otf-confirm="Bạn có chắc muôn xóa?"
                               title="Xóa dữ liệu này" href="javascript:void(0)"
                               onclick="QLSettingData_SettingData_DeleteMulti(this)"
                               data-otf-target="#CPQLSettingData"
                               data-otf-input="#SearchSettingData"
                               data-otf-action-target="@Url.Action("SettingDataGet_List", "Config")?k="
                               data-otf-action="@Url.Action("SettingDataDelete", "Config", null, Request.Url.Scheme)?id=@item.SettingDataGuid">
                                <i class="fa fa-lg fa-trash-o text-danger"></i>
                            </a>
                            &nbsp
                            <a href="@Url.Action("SettingDataEdit", "Config", null, Request.Url.Scheme)?id=@item.SettingDataGuid"
                               title="Chỉnh sửa">
                                <i class="fa fa-lg fa-pencil-square-o text-info"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </text>
    }
    else
    {
        <text>
    <br />
    <div class="alert alert-dismissable alert-info">
        <strong>Yêu cầu tìm kiếm lúc @{ var date = DateTime.Now; } @date.ToString("HH:mm:ss dd/MM/yyyy") không có dữ liệu</strong>
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    </div>
        </text>
    }
    <div class="pager">
        @if (Model.TotalItemCount > Model.PageSize)
        {

            <text>

                @Html.Raw(Ajax.Pager(
                       new Options
                       {
                           PageSize = Model.PageSize,
                           TotalItemCount = Model.TotalItemCount,
                           CurrentPage = Model.PageNumber,
                           ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "" },
                           ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                           TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                           Size = Size.normal,
                           Alignment = Alignment.centered,
                           IsShowControls = true,
                           IsShowFirstLast = true,
                           CssClass = ""
                       },
                       new AjaxOptions
                       {
                           UpdateTargetId = "CPQLSettingData"
                       }, new { controller = "Config", action = "SettingDataGet_List", k = @ViewData["keysearch"] }))
            </text>
        }
    </div>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            loadSelect("QLSettingData");
        </script>
, true);
}



