<h5>Danh Mục Xử Lý</h5>
<a class="list-group-item" href="@Url.Action("AspNetUsersDetail", "ManagePermission", null, Request.Url.Scheme)?id=@Request["id"]">Thông tin User</a>
<a class="list-group-item" href="@Url.Action("AspNetUsersEdit", "ManagePermission", null, Request.Url.Scheme)?id=@Request["id"]">Chỉnh Sửa</a>
<a class="list-group-item" href="@Url.Action("AspNetUsersDoiMatKhau", "ManagePermission", null, Request.Url.Scheme)?id=@Request["id"]">Khôi Phục</a>
<a class="list-group-item" href="@Url.Action("DanhSachPhanCapAppModuleAppRoleForCode", "ManagePermission", null, Request.Url.Scheme)?id=@Request["id"]">Danh Sách Quyền</a>
<a class="list-group-item" href="@Url.Action("ManagePhanCapUser", "ManagePermission", null, Request.Url.Scheme)?id=@Request["id"]">User quản lý</a>
