@model project.web.mvc.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
    Layout = "~/Views/Shared/_LayoutNone.cshtml";
}


<div class="verticalcenter">
    <a href="http://hutech.edu.vn"><img src="~/Images/logo-hutech.png" alt="Logo" class="brand" /></a>
    <div class="panel panel-primary">
        <div class="panel-body">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Quên mật mã?</h4>

                <hr />

                <div class="form-group text-center">
                    <p>Hãy sử dụng địa chỉ email để lấy lại mật mã.</p>
                </div>
                <div class="form-group">

                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="text-danger">
                        @ViewBag.Error
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" class="btn btn-default" value="Xác nhận" />
                    </div>
                </div>
                <p class="text-center">
                    <b>
                        @Html.ActionLink("Quay lại trang đăng nhập", "Login", "Account")
                    </b>
                </p>
            }
            <hr />
            <p class="text-center">
                Nếu gặp sự cố hoặc thắc mắc vui lòng liên hệ <a href="http://qlcntt.hutech.edu.vn/">
                    Trung tâm Quản lý Công nghệ Thông tin
                </a> để được hỗ trợ tốt nhất:
                <br />
                Email: <a href="mailto:tt.qlcntt@hutech.edu.vn">tt.qlcntt@hutech.edu.vn</a>
                <br />
                Điện thoại: (08) 3512 0783 - Nội bộ: 45

            </p>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
