@model MvcPaging.IPagedList<nvngoc29082015.permission.library.ManageRoleForCode.ListActionConfigRoleForCode>
@using MvcPaging

@{var i = 1;}

<div class="table-responsive">
    @if (Model.TotalItemCount > 0)
    {
        <div class="p-b-10">
            Kết quả tìm kiếm: <b>@Model.TotalItemCount</b> Action
        </div>
        <text>
            <table class="table table-bordered datatables dataTable">
                <thead>
                    <tr>
                        <th class="text-center" style="width:50px;">
                            <input id="CheckBoxAll" onclick="javascript: checkAlllist('#listcheckall',this);" type="checkbox" />
                        </th>
                        <th class="text-center" style="width:50px;">
                            #
                        </th>
                        <th class="text-left">
                            @Html.DisplayNameFor(model => Model[0].ActionID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model[0].ActionName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model[0].ActionGroupName)
                        </th>
                        <th class="text-left">
                            @Html.DisplayNameFor(model => Model[0].ControllerName)
                        </th>
                        <th class="text-center" style="width:150px;">
                            @Html.DisplayNameFor(model => Model[0].IsActive)
                        </th>
                    </tr>
                </thead>
                <tbody id="listcheckall">
                    @foreach (var item in Model)
                    {
                        <tr data="@item.ActionGuid" class="showhim">
                            <td class="text-center">
                                <input type="checkbox" class="checkbox-item" value="@item.ActionGuid" />
                            </td>
                            <td class="text-center ">
                                @Html.Raw((Model.PageNumber - 1) * Model.PageSize + i)
                                @{i++;}
                            </td>
                            <td class="text-left ">
                                @Html.Raw(item.ActionID)
                            </td>
                            <td>
                                @Html.Raw(item.ActionName)
                            </td>
                            <td>
                                @Html.Raw(item.ActionGroupName)
                            </td>
                            <td class="text-left">
                                @Html.Raw(item.ControllerName)
                            </td>
                            <td class="text-center">
                                @if (item.IsActive)
                                {
                                    <text>
                                        <i class="fa fa-lg fa-check-circle-o fg-green" title="Đã kích hoạt action cho roleforcode hiện tại"></i>
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        <i class="fa fa-lg fa-circle-o fg-red" title="Chưa kích hoạt action này cho roleforcode hiện tại"></i>
                                    </text>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </text>
    }
    else
    {
        <text><br />
    <div class="alert alert-dismissable alert-info">
        <strong>Yêu cầu tìm kiếm lúc @{ var date = DateTime.Now; } @date.ToString("HH:mm:ss dd/MM/yyyy") không có dữ liệu</strong>
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    </div>
        </text>
    }
    <div class="pager">
        @if (Model.TotalItemCount > Model.PageSize)
        {

            <text>

                @Html.Raw(Ajax.Pager(
                       new Options
                       {
                           PageSize = Model.PageSize,
                           TotalItemCount = Model.TotalItemCount,
                           CurrentPage = Model.PageNumber,
                           ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "" },
                           ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                           TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                           Size = Size.normal,
                           Alignment = Alignment.centered,
                           IsShowControls = true,
                           IsShowFirstLast = true,
                           CssClass = ""
                       },
                       new AjaxOptions
                       {
                           UpdateTargetId = "CPManageRoleForCode"
                       }, new { controller = "ManagePermission", action = "RoleForCodeConfigAction_List", k = @ViewData["keysearch"], id = @ViewData["id"] }))
            </text>
        }
    </div>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            //Su dung cau hinh dropdownlist
            //var config = {
            //    '.chosen-select': {},
            //    '.chosen-select-deselect': { allow_single_deselect: true },
            //    '.chosen-select-no-single': { disable_search_threshold: 10 },
            //    '.chosen-select-no-results': { no_results_text: 'Lỗi! Vui lòng chọn ít nhất 1 mục.' },
            //    '.chosen-select-width': { width: "95%" }
            //}
            //for (var selector in config) {
            //    $(selector).chosen(config[selector]);
            //}

        </script>
, true);
}

