@{
    ViewBag.Title = "ManagePermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-heading">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboards")">
                <i class="fa fa-lg fa-home text-warning text-size-20">
                </i> Trang chủ
            </a>
        </li>
        <li>
            <a href="@Url.Action("ManagePermission", "ManagePermission")">
                <i>
                </i>Quản Lý Phân Quyền
            </a>
        </li>
        <li>
            <a href="@Url.Action("ManageAspNetRoles", "ManagePermission")">
                <i>
                </i>Quản Lý Roles
            </a>
        </li>
        <li class="active">
           Quản lý phân quyền nhóm người dùng
        </li>
    </ol>
</div>
<div class="container" id="demo">
    <div class="row">
        <div class="col-md-8"><h4>@ViewBag.NhomQuyenName</h4></div>
        <div class="col-md-4">
            <div class="pull-right">
                <a class=" btn btn btn-primary" href="@Url.Action("ManageAspNetRoles", "ManagePermission")">
                    Trở lại
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Action("InfoUserRoleDetailGet_DanhSach", "ManagePermission", new { id = Request["id"] })

        </div>
        <div class="col-md-6">
            @Html.Action("InfoUserRoleDetailGet_DanhSach_UserChuaPhanQuyen", "ManagePermission", new { id = Request["id"] })

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/module/ManagePermission/ManageUserRoleDetail/InfoUserRoleDetail")

}