@*
    Author:   			hanhat
    Created: 			2015-11-4
    Last Modified: 		2015-11-4
*@


@{
    ViewBag.Title = "ManageModule";
}
<div id="page-heading">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboards")">
                <i class="fa fa-lg fa-home text-warning text-size-20">
                </i> Trang chủ
            </a>
        </li>
        <li>
            <a href="@Url.Action("ManagePermission", "ManagePermission")">
                <i>
                </i>Quản Lý Phân Quyền
            </a>
        </li>
        <li class="active">
            Quản lý module
        </li>
    </ol>
</div>

@*content*@
<div class="container">
    <div class="row">
        @*các thao tác*@
        <div class="show">
            <div class="col-sm-4 col-sm-push-8" style="text-align:right;">
                <div class="form-group ">
                    <button data-otf-mutil="true"
                            onclick="ManageModule_Module_DeleteMulti(this)"
                            data-otf-confirm="Bạn có chắc muốn xóa những dòng đã chọn?"
                            data-otf-target="#CPManageModule"
                            data-otf-input="#SearchModule"
                            data-otf-action-target="@Url.Action("ModuleGet_List", "ManagePermission")?k="
                            data-otf-action="@Url.Action("ModuleDelete", "ManagePermission", null, Request.Url.Scheme)?id="
                            class=" btn btn-danger"
                            title="Xóa">
                        <i class="fa fa-trash-o"></i> Xóa
                    </button>
                    <a class=" btn btn-success" href="@Url.Action("ModuleCreate", "ManagePermission", null, Request.Url.Scheme)">
                        <i class="fa fa-plus" title="Tạo mới"></i> Thêm mới
                    </a>
                </div>
            </div>
            <div class="col-sm-8  col-sm-pull-4">
                <div class="form-group">
                    <div class="col-sm-4">
                        @Html.DropDownList("ddlListApp",
                                          new SelectList(ViewBag.ListApp, "ValueString", "Name"),
                                          new
                                          {
                                              @class = "form-control chosen-select",
                                              onchange = "DropdownlistChange(this,'#buttonsearch')",
                                              id = "ddlListApp"
                                          })
                    </div>
                    <div class="input-group col-sm-8">
                        <input id="SearchModule"
                               placeholder="Thông tin cần tìm"
                               onkeypress="return ManageModule_Module_EnterEvent(event, '#buttonsearch')"
                               class="form-control " />
                        <span class="input-group-btn">
                            <button id="buttonsearch"
                                    type="button"
                                    title="Tìm kiếm"
                                    class="btn btn-primary"
                                    data-otf-target="#CPManageModule"
                                    data-otf-input="#SearchModule"
                                    data-otf-inputddl="#ddlListApp"
                                    data-otf-action="@Url.Action("ModuleGet_List", "ManagePermission", null, Request.Url.Scheme)?k="
                                    onclick="ManageModule_Module_IsSearch(this)">
                                Tìm kiếm
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="CPManageModule">
                @Html.Action("ModuleGet_List", "ManagePermission")
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/module/ManagePermission/ManageModule")
}




