@*
    Author:   			hanhat
    Created: 			2015-11-18
    Last Modified: 		2015-11-18
*@
@model nvngoc29082015.permission.library.ManageRoleDetail.CreateInfoRoleDetailView

<div class="modal-content">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Thêm mới sản phẩm</h4>
    </div>
    <div class="modal-body">
        @using (Ajax.BeginForm(
                                    "InfoRoleDetailCreate",
                                    "ManagePermission",
                                    new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,//cach thuc update du lieu. Thay the hay them vao
                                    HttpMethod = "POST",
                                    UpdateTargetId ="modalManageRoleDetail_InfoRoleDetail_c",
                                    LoadingElementId = "loader"
                                }, new { @class = "form-horizontal", id = "frm_CreateInfoRoleDetail" }))
        {
            
            
            @Html.HiddenFor(model => Model.RoleForCodeGuid)
            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


           

            
             <div class="form-group ">
                @Html.LabelFor(model => Model.RoleForCodeName, new { @class = "col-sm-2 control-label", @for = "text_RoleForCodeName" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => Model.RoleForCodeName, new { @class = "form-control", id = "text_RoleForCodeName" })
                    @Html.ValidationMessageFor(model => Model.RoleForCodeName, null, new { @class = "text-danger" })
                </div>
                <div class="col-sm-2">

                </div>
            </div>
            
             <div class="form-group ">
                @Html.LabelFor(model => Model.ModuleName, new { @class = "col-sm-2 control-label", @for = "text_ModuleName" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => Model.ModuleName, new { @class = "form-control", id = "text_ModuleName" })
                    @Html.ValidationMessageFor(model => Model.ModuleName, null, new { @class = "text-danger" })
                </div>
                <div class="col-sm-2">

                </div>
            </div>
            
             <div class="form-group ">
                @Html.LabelFor(model => Model.AppName, new { @class = "col-sm-2 control-label", @for = "text_AppName" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => Model.AppName, new { @class = "form-control", id = "text_AppName" })
                    @Html.ValidationMessageFor(model => Model.AppName, null, new { @class = "text-danger" })
                </div>
                <div class="col-sm-2">

                </div>
            </div>
        }
      <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    File đính kèm
                </label>
                <div class="col-sm-10">

                    @*2 hàm ulupload 1 cho xóa và k xóa*@
                    @Html.Action("LoadUploadOne", "FileSystem", new { itemguid = Model.RoleForCodeGuid, id = 1, auto = "false", isDelete = "true", mo = "InfoRoleDetail" })
                    @*@Html.Action("LoadUploadOne", "FileSystem", new { itemguid = Model.ItemGuid, id = 1, auto = "false", isDelete = "false", mo = "InfoRoleDetail })*@


                    @*s = style hiển thị danh sách file 0:1; 0 dạng block, 1 là dạng list
                    d ="true" :"fasle" cho phép delete hay k
                    id quy định nơi upload file, nơi load file lên trong contantvalble*@
                    @*@Html.Action("LoadUploadFiles", "FileSystem", new { itemguid = Model.RoleForCodeGuid, id = 1, auto = "false", d = "true", s = 1, mo = "InfoRoleDetail" })*@
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        
           <div class="col-sm-12  text-center">
               
                   
                    <button type="button" onclick="ManageRoleDetail_InfoRoleDetail_OnSaveExit('#callbackManageRoleDetail_InfoRoleDetail', 'true', '#frm_CreateInfoRoleDetail')" class="btn btn-success">Lưu & Thoát</button>
                    <button type="button" onclick="ManageRoleDetail_InfoRoleDetail_OnSaveExit('#callbackManageRoleDetail_InfoRoleDetail', 'false', '#frm_CreateInfoRoleDetail')" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu dữ liệu</button>
                    &nbsp;hoặc&nbsp;
                    
                    <a class="btn btn-link" data-otf-action="@Url.Action("InfoRoleDetailGet_List", "ManagePermission", null, Request.Url.Scheme)?idnv=@Model.NhanVienGuid " data-target="#ManageRoleDetail_InfoRoleDetail_DS_content" aria-hidden="true" data-dismiss="modal" onclick="ManageRoleDetail_InfoRoleDetail_BakList(this)"> Trở lại</a>

                    <input type="hidden" id="callbackManageRoleDetail_InfoRoleDetail"
                           data-otf-target="#modalManageRoleDetail_InfoRoleDetail"
                           data-otf-target-exit="#ManageRoleDetail_InfoRoleDetail_DS_content"
                           data-otf-action-exit="@Url.Action("InfoRoleDetailGet_List", "ManagePermission", null, Request.Url.Scheme)?idnv=@Model.NhanVienGuid"
                           data-otf-action="@Url.Action("InfoRoleDetailEdit", "ManagePermission", null, Request.Url.Scheme)?id=@Model.RoleForCodeGuid" />



               
            </div>
    </div>

</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
             //Su dung cau hinh dropdownlist
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Lỗi! Vui lòng chọn ít nhất 1 mục.' },
                '.chosen-select-width': { width: "95%" }
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
            

        </script>
, true);
}




