@*
    Author:   			hanhat
    Created: 			2015-11-6
    Last Modified: 		2015-11-6
*@

@model MvcPaging.IPagedList<nvngoc29082015.permission.library.ManageAspNetRoles.ListAspNetRolesView>
@using MvcPaging

@{var i = 1;}

<div class="table-responsive">
    @if (Model.TotalItemCount > 0)
    {
        <div class="p-b-10">
            Kết quả tìm kiếm: <b>@Model.TotalItemCount</b> Nhóm quyền
        </div>
        <text>
            <table class="table table-bordered datatables dataTable">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input id="CheckBoxAll" onclick="javascript: checkAlllist('#listcheckall',this);" type="checkbox" />
                        </th>
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-left w-150">
                            @Html.DisplayNameFor(model => Model[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model[0].FullName)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => Model[0].SoLuongUser)
                        </th>

                        <th class="text-center">
                            @Html.DisplayNameFor(model => Model[0].IsDelete)
                        </th>
                        <th class="text-center">Tác vụ</th>

                    </tr>
                </thead>
                <tbody id="listcheckall">
                    @foreach (var item in Model)
                    {
                        <tr data="@item.Id" class="showhim">
                            <td class="text-center">
                                <input type="checkbox" class="checkbox-item" value="@item.Id" />
                            </td>
                            <td class="text-center w-50">
                                @Html.Raw((Model.PageNumber - 1) * Model.PageSize + i)
                                @{i++;}
                            </td>
                            <td class="text-left w-100">
                                @Html.Raw(item.Name)
                            </td>
                            <td>
                                @Html.Raw(item.FullName)
                            </td>
                            <td class="text-center">

                                @Html.Raw(item.SoLuongUser)

                            </td>

                            <td class="text-center">
                                @Html.CheckBoxFor(x => item.IsDelete, new { disabled = "disabled" })
                            </td>
                            <td class="text-center">
                                @*Nếu là system hoặc được phép xóa*@
                                @if (User.IsInRole(project.config.library.Utilities.ConstantVariable.Value_AspNetRoles_System) || item.IsDelete)
                                {
                                    <text>
                                        <a data-otf-confirm="Bạn có chắc muôn xóa?"
                                           title="Xóa dữ liệu này" href="javascript:void(0)"
                                           onclick="ManageAspNetRoles_AspNetRoles_DeleteMulti(this)"
                                           data-otf-target="#CPManageAspNetRoles"
                                           data-otf-input="#SearchAspNetRoles"
                                           data-otf-action-target="@Url.Action("AspNetRolesGet_List", "ManagePermission")?k="
                                           data-otf-action="@Url.Action("AspNetRolesDelete", "ManagePermission", null, Request.Url.Scheme)?id=@item.Id">
                                            <i class="fa fa-lg fa-trash-o text-danger"></i>
                                        </a>
                                        &nbsp
                                    </text>
                                }


                                <a href="@Url.Action("AspNetRolesEdit", "ManagePermission", null, Request.Url.Scheme)?id=@item.Id"
                                   title="Chỉnh sửa">
                                    <i class="fa fa-lg fa-pencil-square-o text-info"></i>
                                </a>

                                <a href="@Url.Action("ManagePhanQuyenUser", "ManagePermission", null, Request.Url.Scheme)?id=@item.Id"
                                   title="Xem chi tiết">
                                    Role User
                                </a>
                                ||
                                <a href="@Url.Action("ManagePhanQuyenChucNang", "ManagePermission", null, Request.Url.Scheme)?id=@item.Id"
                                   title="Xem chi tiết">
                                    Role Chức năng
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </text>
    }
    else
    {
        <text><br />
    <div class="alert alert-dismissable alert-info">
        <strong>Yêu cầu tìm kiếm lúc @{ var date = DateTime.Now; } @date.ToString("HH:mm:ss dd/MM/yyyy") không có dữ liệu</strong>
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    </div>
        </text>
    }
    <div class="pager">
        @if (Model.TotalItemCount > Model.PageSize)
        {

            <text>

                @Html.Raw(Ajax.Pager(
                       new Options
                       {
                           PageSize = Model.PageSize,
                           TotalItemCount = Model.TotalItemCount,
                           CurrentPage = Model.PageNumber,
                           ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "" },
                           ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                           TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                           Size = Size.normal,
                           Alignment = Alignment.centered,
                           IsShowControls = true,
                           IsShowFirstLast = true,
                           CssClass = ""
                       },
                       new AjaxOptions
                       {
                           UpdateTargetId = "CPManageAspNetRoles"
                       }, new { controller = "ManagePermission", action = "AspNetRolesGet_List", k = @ViewData["keysearch"], id = ViewData["id"] }))
            </text>
        }
    </div>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            loadSelect("ManageAspNetRoles");
        </script>
, true);
}



